.rows-0 {
    background-color: #f8f9fa; 
    /* border: 3px; */
    /* border-color: palevioletred; */
  }
  
  .rows-1 {
   background-color:white 
  }

 .create-report {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    row-gap: 2px !important;
 } 
 .report {
    /* height:82vh; */
    justify-content: center;
    align-items: center;
    display: flex;
}
.report-table{
    width:90%;
    margin-bottom: 17%;
    margin-left: 5%;
}
.create-button {
  display: flex;
    margin-top: 87px;
}
.creatediv {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.managetr{
  /* background-color: rgb(202, 247, 247); */
}
tr {

    border: 1px solid rgb(240, 236, 236);
  }
  .even-row {
    background-color: #f2f2f2;
  }
  
  .odd-row {
    background-color: #ffffff;
  }
  .manage-table {
    width: 100vw ;
  }