.buttons {
  width: 239px;
  height: 41px;
  border-color: black !important;
}

.ship {
  width: 30px;

 }

.truck {
  width: 36px;
} 



.time-img {
  width: 34px;
  height: 39px;
}

.date-img {
  width: 34px;
  height: 39px;
}



.para {
  width: 100px;
}

.row-date {
  background-color: whitesmoke;
}

.row-time {
  background-color: white;
}

.row-location {
  background-color: whitesmoke;
}

.row-company {
  background-color: white;
}

.row-Inspection {
  background-color: whitesmoke;
}

.row-vaccination {
  background-color: white;
}

.tbl {
  width: 94%;
}

.tbl tr {
  height: 50px;
}

.time {
  font-weight: 700;
}

.tr {
  height: 50px;
}

.yes {
  width: 10%;
}

.no {
  width: 8%;
}

.buttons:hover {
  background-color: rgb(130 190 245) !important;
  font-weight: 700;
}

.page {
height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}



.right {

  display: flex;
  justify-content: center;
  align-items: center;
}
 .ship-arrow {

 
  width: 25px;
}

.arrow {
   margin-left: 46px;
  width: 112px; 
}
.truck-arrow{
  margin-left: 14px;

}
.card_detail{
  width: -webkit-fill-available;
}
.row-blue {
  background-color: #e9ecef54;
}

.row-white {
  background-color: white;
}
.cont-fld{

    margin-top: 133px;
}
.ship-truck {
  display: flex;
  justify-content: center;
}